# Documentation at:
#   https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Assign the entire repository (default ownership)
*	@mynetz @pmaione @sylv-io @walterchris @sinuscosinustan

/.github/workflows/	@sinuscosinustan @AtomicFS
/.github/actions/	@sinuscosinustan @AtomicFS
