/dts-v1/;
/plugin/;
&{/} {
	model = "HPE ProLiant DL345 Gen11";
	compatible = "hpe,gxp-dl345gen11", "hpe,gxp";
};
&{/ahb@80000000} {
	cpu: cpu@800000b8 {
		compatible = "hpe,gxp-cpu", "simple-mfd", "syscon";
		reg = <0x800000b8 0x2>;
		#gpio-cells = <2>;
		gpio-line-names =
		"CPU1_PRSNT", "CPU2_PRSNT", "CPU3_PRSNT", "CPU4_PRSNT", "", "", "","",
		"", "", "", "", "", "", "", "";
	};

	kcs_conf: kcs_conf@80fc0430 {
		compatible = "hpe,gxp-kcs-bmc-cfg", "simple-mfd", "syscon";
		reg = <0x80fc0430 0x100>;
	};

	kcs_reg: kcs_reg@80fd0400 {
		compatible = "hpe,gxp-kcs-bmc";
		reg = <0x80fd0400 0x8>;
		interrupts = <6>;
		interrupt-parent = <&vic1>;
		kcs-chan = <1>;
		status = "okay";
		kcs-bmc-cfg = <&kcs_conf>;
	};

	i2cmux@0 {
		compatible = "i2c-mux";
		i2c-parent = <&i2c0>;
		mux-controls = <&i2c_mux_ctrl 0>;
		#address-cells = <1>;
		#size-cells = <0>;
		i2c0@5 {
			reg = <5>;
			#address-cells = <1>;
			#size-cells = <0>;
			ddr5hub@50 {
				compatible = "jedec,spd5118";
				reg = <0x50>;
			};
			ddr5hub@51 {
				compatible = "jedec,spd5118";
				reg = <0x51>;
			};
			ddr5hub@52 {
				compatible = "jedec,spd5118";
				reg = <0x52>;
			};
			ddr5hub@53 {
				compatible = "jedec,spd5118";
				reg = <0x53>;
			};
			ddr5hub@54 {
				compatible = "jedec,spd5118";
				reg = <0x54>;
			};
			ddr5hub@55 {
				compatible = "jedec,spd5118";
				reg = <0x55>;
			};
		};
		i2c0@6 {
			reg = <6>;
			#address-cells = <1>;
			#size-cells = <0>;
			ddr5hub@50 {
				compatible = "jedec,spd5118";
				reg = <0x50>;
			};
			ddr5hub@51 {
				compatible = "jedec,spd5118";
				reg = <0x51>;
			};
			ddr5hub@52 {
				compatible = "jedec,spd5118";
				reg = <0x52>;
			};
			ddr5hub@53 {
				compatible = "jedec,spd5118";
				reg = <0x53>;
			};
			ddr5hub@54 {
				compatible = "jedec,spd5118";
				reg = <0x54>;
			};
			ddr5hub@55 {
				compatible = "jedec,spd5118";
				reg = <0x55>;
			};
		};
		i2c0@7 {
			reg = <7>;
			#address-cells = <1>;
			#size-cells = <0>;
			ddr5hub@50 {
				compatible = "jedec,spd5118";
				reg = <0x50>;
			};
			ddr5hub@51 {
				compatible = "jedec,spd5118";
				reg = <0x51>;
			};
			ddr5hub@52 {
				compatible = "jedec,spd5118";
				reg = <0x52>;
			};
			ddr5hub@53 {
				compatible = "jedec,spd5118";
				reg = <0x53>;
			};
			ddr5hub@54 {
				compatible = "jedec,spd5118";
				reg = <0x54>;
			};
			ddr5hub@55 {
				compatible = "jedec,spd5118";
				reg = <0x55>;
			};
		};
		i2c0@8 {
			reg = <8>;
			#address-cells = <1>;
			#size-cells = <0>;
			ddr5hub@50 {
				compatible = "jedec,spd5118";
				reg = <0x50>;
			};
			ddr5hub@51 {
				compatible = "jedec,spd5118";
				reg = <0x51>;
			};
			ddr5hub@52 {
				compatible = "jedec,spd5118";
				reg = <0x52>;
			};
			ddr5hub@53 {
				compatible = "jedec,spd5118";
				reg = <0x53>;
			};
			ddr5hub@54 {
				compatible = "jedec,spd5118";
				reg = <0x54>;
			};
			ddr5hub@55 {
				compatible = "jedec,spd5118";
				reg = <0x55>;
			};
		};
	};
	i2cmux@1 {
		compatible = "i2c-mux";
		i2c-parent = <&i2c1>;
		mux-controls = <&i2c_mux_ctrl 1>;
		#address-cells = <1>;
		#size-cells = <0>;
		i2c1@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			cpu-monitor = <1>;
			sbrmi@3c {
				compatible = "amd,sbrmi";
				dimm-count = <12>;
				reg = <0x3c>;
				sbrmi-supply = <&i2c_passthrough>;
			};
			sbtsi@4c {
				compatible = "amd,sbtsi";
				reg = <0x4c>;
				sbtsi-supply = <&i2c_passthrough>;
			};
		};
		i2c1@2 {
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
			cpu-monitor = <2>;
			sbrmi@38 {
				compatible = "amd,sbrmi";
				dimm-count = <12>;
				reg = <0x38>;
				sbrmi-supply = <&i2c_passthrough>;
			};
			sbtsi@48 {
				compatible = "amd,sbtsi";
				reg = <0x48>;
				sbtsi-supply = <&i2c_passthrough>;
			};
		};
	};
	/include/ "gxp-ubm-mux3.dtsi"
	/include/ "gxp-ubm-mux4.dtsi"
	/* add PSU mux */
	i2cmux@7 {
		compatible = "i2c-mux";
		i2c-parent = <&i2c7>;
		mux-controls = <&i2c_mux_ctrl 7>;
		#address-cells = <1>;
		#size-cells = <0>;
		i2c7@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			psu1: psu@58 {
				compatible = "hpe,gxp-psu";
				reg = <0x58>;
			};
		};
		i2c7@2 {
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
			psu2: psu@59 {
				compatible = "hpe,gxp-psu";
				reg = <0x59>;
			};
		};
	};
	syspower: syspower {
		compatible = "hpe,gxp-power";
		psu_phandle = <&psu1>, <&psu2>;
	};
};
