// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
/plugin/;
&{/} {
	model = "HPE ProLiant DL340 Gen12";
	compatible = "hpe,gxp-dl340gen12", "hpe,gxp";
};
&{/ahb@80000000} {
	/include/ "gxp-ubm-mux3.dtsi"
	i2cmux@7 {
		compatible = "i2c-mux";
		i2c-parent = <&i2c7>;
		mux-controls = <&i2c_mux_ctrl 7>;
		#address-cells = <1>;
		#size-cells = <0>;
		i2c7@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			psu1: psu@58 {
				compatible = "hpe,gxp-psu";
				reg = <0x58>;
			};
		};
		i2c7@2 {
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
			psu2: psu@59 {
				compatible = "hpe,gxp-psu";
				reg = <0x59>;
			};
		};
	};
	syspower: syspower {
		compatible = "hpe,gxp-power";
		psu_phandle = <&psu1>, <&psu2>;
	};
};
