/dts-v1/;
/plugin/;
&{/} {
    model = "HPE ProLiant RL300 Gen11";
    compatible = "hpe,gxp-rl300gen11", "hpe,gxp";
};
&{/ahb@80000000} {
	/include/ "gxp-ubm-mux3.dtsi"
	/include/ "gxp-ubm-mux4.dtsi"
    /* add PSU mux */
    i2cmux@7 {
        compatible = "i2c-mux";
        i2c-parent = <&i2c7>;
        mux-controls = <&i2c_mux_ctrl 7>;
        #address-cells = <1>;
        #size-cells = <0>;
        i2c7@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;
            psu1: psu@58 {
                compatible = "hpe,gxp-psu";
                reg = <0x58>;
            };
        };
        i2c7@2 {
            reg = <2>;
            #address-cells = <1>;
            #size-cells = <0>;
            psu2: psu@59 {
                compatible = "hpe,gxp-psu";
                reg = <0x59>;
            };
        };
    };
    syspower: syspower {
        compatible = "hpe,gxp-power";
        psu_phandle = <&psu1>, <&psu2>;
    };
};
&i2c1 {
    bus-frequency = <400000>;
    smpro@4f {
        compatible = "ampere,smpro";
        reg = <0x4f>;
        #address-cells = <1>;
        #size-cells = <0>;
        cpu-monitor = <1>;
        hwmon {
            compatible = "ampere,ac01-hwmon";
        };
        misc {
            compatible = "ampere,ac01-misc";
        };
        errmon {
            compatible = "ampere,ac01-errmon";
        };
    };
};
