/dts-v1/;
/plugin/;
&{/} {
	model = "HPE ProLiant DL345 Gen11";
	compatible = "hpe,gxp-dl345gen11", "hpe,gxp";

	aliases {
		/* i2cmux@1 */
		i2c16 = "/ahb@80000000/i2cmux@1/i2c1@1";
		i2c17 = "/ahb@80000000/i2cmux@1/i2c1@2";

		/* i2cmux@0 */
		i2c36 = "/ahb@80000000/i2cmux@0/i2c0@5";
		i2c37 = "/ahb@80000000/i2cmux@0/i2c0@6";
		i2c38 = "/ahb@80000000/i2cmux@0/i2c0@7";
		i2c39 = "/ahb@80000000/i2cmux@0/i2c0@8";

		/* i2cmux@7 */
		i2c40 = "/ahb@80000000/i2cmux@7/i2c7@1";
		i2c41 = "/ahb@80000000/i2cmux@7/i2c7@2";

		/* i2cmux@3 */
		i2c48 = "/ahb@80000000/i2cmux@3/i2c3@1";
		i2c49 = "/ahb@80000000/i2cmux@3/i2c3@2";
		i2c50 = "/ahb@80000000/i2cmux@3/i2c3@3";
		i2c51 = "/ahb@80000000/i2cmux@3/i2c3@4";
		i2c52 = "/ahb@80000000/i2cmux@3/i2c3@5";
		i2c53 = "/ahb@80000000/i2cmux@3/i2c3@6";
		i2c54 = "/ahb@80000000/i2cmux@3/i2c3@7";
		i2c55 = "/ahb@80000000/i2cmux@3/i2c3@8";
		i2c56 = "/ahb@80000000/i2cmux@3/i2c3@9";
		i2c57 = "/ahb@80000000/i2cmux@3/i2c3@a";
		i2c58 = "/ahb@80000000/i2cmux@3/i2c3@b";
		i2c59 = "/ahb@80000000/i2cmux@3/i2c3@c";
		i2c60 = "/ahb@80000000/i2cmux@3/i2c3@d";
		i2c61 = "/ahb@80000000/i2cmux@3/i2c3@e";
		i2c62 = "/ahb@80000000/i2cmux@3/i2c3@f";
		i2c63 = "/ahb@80000000/i2cmux@3/i2c3@10";
		i2c64 = "/ahb@80000000/i2cmux@3/i2c3@11";
		i2c65 = "/ahb@80000000/i2cmux@3/i2c3@12";
		i2c68 = "/ahb@80000000/i2cmux@3/i2c3@15";
		i2c69 = "/ahb@80000000/i2cmux@3/i2c3@16";
		i2c70 = "/ahb@80000000/i2cmux@3/i2c3@17";
		i2c71 = "/ahb@80000000/i2cmux@3/i2c3@18";

		/* i2cmux@4 */
		i2c82 = "/ahb@80000000/i2cmux@4/i2c4@3";
		i2c83 = "/ahb@80000000/i2cmux@4/i2c4@4";
		i2c84 = "/ahb@80000000/i2cmux@4/i2c4@5";
		i2c85 = "/ahb@80000000/i2cmux@4/i2c4@6";
		i2c86 = "/ahb@80000000/i2cmux@4/i2c4@7";
		i2c87 = "/ahb@80000000/i2cmux@4/i2c4@8";
	};
};
&{/ahb@80000000} {
	cpu: cpu@800000b8 {
		compatible = "hpe,gxp-cpu", "simple-mfd", "syscon";
		reg = <0x800000b8 0x2>;
		#gpio-cells = <2>;
		gpio-line-names =
		"CPU1_PRSNT", "CPU2_PRSNT", "CPU3_PRSNT", "CPU4_PRSNT", "", "", "","",
		"", "", "", "", "", "", "", "";
	};

	kcs_conf: kcs_conf@80fc0430 {
		compatible = "hpe,gxp-kcs-bmc-cfg", "simple-mfd", "syscon";
		reg = <0x80fc0430 0x100>;
	};

	kcs_reg: kcs_reg@80fd0400 {
		compatible = "hpe,gxp-kcs-bmc";
		reg = <0x80fd0400 0x8>;
		interrupts = <6>;
		interrupt-parent = <&vic1>;
		kcs-chan = <1>;
		status = "okay";
		kcs-bmc-cfg = <&kcs_conf>;
	};

	i2cmux@0 {
		compatible = "i2c-mux";
		i2c-parent = <&i2c0>;
		mux-controls = <&i2c_mux_ctrl 0>;
		#address-cells = <1>;
		#size-cells = <0>;
		i2c0@5 {
			reg = <5>;
			#address-cells = <1>;
			#size-cells = <0>;
			ddr5hub@50 {
				compatible = "jedec,spd5118";
				reg = <0x50>;
			};
			ddr5hub@51 {
				compatible = "jedec,spd5118";
				reg = <0x51>;
			};
			ddr5hub@52 {
				compatible = "jedec,spd5118";
				reg = <0x52>;
			};
			ddr5hub@53 {
				compatible = "jedec,spd5118";
				reg = <0x53>;
			};
			ddr5hub@54 {
				compatible = "jedec,spd5118";
				reg = <0x54>;
			};
			ddr5hub@55 {
				compatible = "jedec,spd5118";
				reg = <0x55>;
			};
		};
		i2c0@6 {
			reg = <6>;
			#address-cells = <1>;
			#size-cells = <0>;
			ddr5hub@50 {
				compatible = "jedec,spd5118";
				reg = <0x50>;
			};
			ddr5hub@51 {
				compatible = "jedec,spd5118";
				reg = <0x51>;
			};
			ddr5hub@52 {
				compatible = "jedec,spd5118";
				reg = <0x52>;
			};
			ddr5hub@53 {
				compatible = "jedec,spd5118";
				reg = <0x53>;
			};
			ddr5hub@54 {
				compatible = "jedec,spd5118";
				reg = <0x54>;
			};
			ddr5hub@55 {
				compatible = "jedec,spd5118";
				reg = <0x55>;
			};
		};
		i2c0@7 {
			reg = <7>;
			#address-cells = <1>;
			#size-cells = <0>;
			ddr5hub@50 {
				compatible = "jedec,spd5118";
				reg = <0x50>;
			};
			ddr5hub@51 {
				compatible = "jedec,spd5118";
				reg = <0x51>;
			};
			ddr5hub@52 {
				compatible = "jedec,spd5118";
				reg = <0x52>;
			};
			ddr5hub@53 {
				compatible = "jedec,spd5118";
				reg = <0x53>;
			};
			ddr5hub@54 {
				compatible = "jedec,spd5118";
				reg = <0x54>;
			};
			ddr5hub@55 {
				compatible = "jedec,spd5118";
				reg = <0x55>;
			};
		};
		i2c0@8 {
			reg = <8>;
			#address-cells = <1>;
			#size-cells = <0>;
			ddr5hub@50 {
				compatible = "jedec,spd5118";
				reg = <0x50>;
			};
			ddr5hub@51 {
				compatible = "jedec,spd5118";
				reg = <0x51>;
			};
			ddr5hub@52 {
				compatible = "jedec,spd5118";
				reg = <0x52>;
			};
			ddr5hub@53 {
				compatible = "jedec,spd5118";
				reg = <0x53>;
			};
			ddr5hub@54 {
				compatible = "jedec,spd5118";
				reg = <0x54>;
			};
			ddr5hub@55 {
				compatible = "jedec,spd5118";
				reg = <0x55>;
			};
		};
	};
	i2cmux@1 {
		compatible = "i2c-mux";
		i2c-parent = <&i2c1>;
		mux-controls = <&i2c_mux_ctrl 1>;
		#address-cells = <1>;
		#size-cells = <0>;
		i2c1@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			cpu-monitor = <1>;
			sbrmi@3c {
				compatible = "amd,sbrmi";
				dimm-count = <12>;
				reg = <0x3c>;
				sbrmi-supply = <&i2c_passthrough>;
			};
			sbtsi@4c {
				compatible = "amd,sbtsi";
				reg = <0x4c>;
				sbtsi-supply = <&i2c_passthrough>;
			};
		};
		i2c1@2 {
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
			cpu-monitor = <2>;
			sbrmi@38 {
				compatible = "amd,sbrmi";
				dimm-count = <12>;
				reg = <0x38>;
				sbrmi-supply = <&i2c_passthrough>;
			};
			sbtsi@48 {
				compatible = "amd,sbtsi";
				reg = <0x48>;
				sbtsi-supply = <&i2c_passthrough>;
			};
		};
	};
	/include/ "gxp-ubm-mux3.dtsi"
	/include/ "gxp-ubm-mux4.dtsi"
	/* add PSU mux */
	i2cmux@7 {
		compatible = "i2c-mux";
		i2c-parent = <&i2c7>;
		mux-controls = <&i2c_mux_ctrl 7>;
		#address-cells = <1>;
		#size-cells = <0>;
		i2c7@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;
			psu1: psu@58 {
				compatible = "hpe,gxp-psu";
				reg = <0x58>;
			};
		};
		i2c7@2 {
			reg = <2>;
			#address-cells = <1>;
			#size-cells = <0>;
			psu2: psu@59 {
				compatible = "hpe,gxp-psu";
				reg = <0x59>;
			};
		};
	};
	syspower: syspower {
		compatible = "hpe,gxp-power";
		psu_phandle = <&psu1>, <&psu2>;
	};
};
