/dts-v1/;
/plugin/;
&{/} {
    model = "HPE ProLiant RL300 Gen11";
    compatible = "hpe,gxp-rl300gen11", "hpe,gxp";

	aliases {
		/* i2cmux@3 */
		i2c48 = "/ahb@80000000/i2cmux@3/i2c3@1";
		i2c49 = "/ahb@80000000/i2cmux@3/i2c3@2";
		i2c50 = "/ahb@80000000/i2cmux@3/i2c3@3";
		i2c51 = "/ahb@80000000/i2cmux@3/i2c3@4";
		i2c52 = "/ahb@80000000/i2cmux@3/i2c3@5";
		i2c53 = "/ahb@80000000/i2cmux@3/i2c3@6";
		i2c54 = "/ahb@80000000/i2cmux@3/i2c3@7";
		i2c55 = "/ahb@80000000/i2cmux@3/i2c3@8";
		i2c56 = "/ahb@80000000/i2cmux@3/i2c3@9";
		i2c57 = "/ahb@80000000/i2cmux@3/i2c3@a";
		i2c58 = "/ahb@80000000/i2cmux@3/i2c3@b";
		i2c59 = "/ahb@80000000/i2cmux@3/i2c3@c";
		i2c60 = "/ahb@80000000/i2cmux@3/i2c3@d";
		i2c61 = "/ahb@80000000/i2cmux@3/i2c3@e";
		i2c62 = "/ahb@80000000/i2cmux@3/i2c3@f";
		i2c63 = "/ahb@80000000/i2cmux@3/i2c3@10";
		i2c64 = "/ahb@80000000/i2cmux@3/i2c3@11";
		i2c65 = "/ahb@80000000/i2cmux@3/i2c3@12";
		i2c68 = "/ahb@80000000/i2cmux@3/i2c3@15";
		i2c69 = "/ahb@80000000/i2cmux@3/i2c3@16";
		i2c70 = "/ahb@80000000/i2cmux@3/i2c3@17";
		i2c71 = "/ahb@80000000/i2cmux@3/i2c3@18";

		/* i2cmux@4 */
		i2c82 = "/ahb@80000000/i2cmux@4/i2c4@3";
		i2c83 = "/ahb@80000000/i2cmux@4/i2c4@4";
		i2c84 = "/ahb@80000000/i2cmux@4/i2c4@5";
		i2c85 = "/ahb@80000000/i2cmux@4/i2c4@6";
		i2c86 = "/ahb@80000000/i2cmux@4/i2c4@7";
		i2c87 = "/ahb@80000000/i2cmux@4/i2c4@8";
	};
};
&{/ahb@80000000} {
	/include/ "gxp-ubm-mux3.dtsi"
	/include/ "gxp-ubm-mux4.dtsi"
    /* add PSU mux */
    i2cmux@7 {
        compatible = "i2c-mux";
        i2c-parent = <&i2c7>;
        mux-controls = <&i2c_mux_ctrl 7>;
        #address-cells = <1>;
        #size-cells = <0>;
        i2c7@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;
            psu1: psu@58 {
                compatible = "hpe,gxp-psu";
                reg = <0x58>;
            };
        };
        i2c7@2 {
            reg = <2>;
            #address-cells = <1>;
            #size-cells = <0>;
            psu2: psu@59 {
                compatible = "hpe,gxp-psu";
                reg = <0x59>;
            };
        };
    };
    syspower: syspower {
        compatible = "hpe,gxp-power";
        psu_phandle = <&psu1>, <&psu2>;
    };
};
&i2c1 {
    bus-frequency = <400000>;
    smpro@4f {
        compatible = "ampere,smpro";
        reg = <0x4f>;
        #address-cells = <1>;
        #size-cells = <0>;
        cpu-monitor = <1>;
        hwmon {
            compatible = "ampere,ac01-hwmon";
        };
        misc {
            compatible = "ampere,ac01-misc";
        };
        errmon {
            compatible = "ampere,ac01-errmon";
        };
    };
};
